/* Is gonna be as wide as the welcome-phrase-box when placed in div className="App" later */

.diary-input-container {
  width: 90%;
  max-width: 550px;
  background-color: rgb(254, 255, 255, 0.8);
  padding: 20px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.diary-input {
  display: block;
  margin: 8px auto 20px auto;
  max-width: 100%;
  width: 500px;
  padding: 12px;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  background-color: #feffff;
  border-radius: 5px;
}

.diary-input:focus {
  border: 1px solid #7daf95;
}

.diary-input-wrapper label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 8px;
}
