button.emotion-list-item {
  padding: 8px 16px;
  font-size: 1.2rem;
  color: #feffff;
  border: none;
  border-radius: 5px;
  margin: 16px 16px 0 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

button.emotion-list-item:hover,
button.emotion-list-item.selected:hover {
  cursor: pointer;
  opacity: 0.7;
}

button.emotion-list-item:active,
button.emotion-list-item.selected {
  -webkit-box-shadow: inset 0px 0px 5px, rgb(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 5px rgb(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 5px rgb(0, 0, 0, 0.6);
  opacity: 1;
}

button.emotion-list-item i {
  transition: font-size 0.3s ease-in-out, margin 0.3s ease-in-out;
  font-size: 0;
  margin-left: 0;
  vertical-align: center;
}

button.emotion-list-item.selected i {
  font-size: inherit;
  margin-left: 8px;
}
