.lds-default {
  margin-top: 8em;
  display: inline-block;
  position: relative;
  width: 180px;
  height: 180px;
}
.lds-default div {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: -0.7s;
  left: 0px;
  background-color: #081b64;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.6s;
  left: 20px;
  background-color: #6a005a;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.5s;
  left: 40px;
  background-color: #e44097;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.4s;
  left: 60px;
  background-color: #b51316;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.3s;
  left: 80px;
  background-color: #e2701a;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.2s;
  left: 100px;
  background-color: #f9e41c;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.1s;
  left: 120px;
  background-color: #017f43;
}
.lds-default div:nth-child(8) {
  animation-delay: 0s;
  left: 140px;
  background-color: #008988;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
