.splash-screen {
  width: 100vh;
  height: 100vh;
  background-color: #faf9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.splash-screen img {
  max-width: 90%;
  height: auto;
}
