.start-screen h2 {
  font-size: 2.4rem;
  margin: 0;
}

.start-screen h2 span {
  color: #996e8f;
  font-size: 1.5rem;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}

.start-screen .picked-emotions {
  background-color: rgb(254, 255, 255, 0.8);
  padding: 20px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.start-screen .picked-emotions .picked-emotions-inner {
  padding: 16px 0;
}

.emotion-list {
  margin-top: 20px;
}

.start-screen .add-emotion-button-wrapper {
  display: flex;
  justify-content: right;
  align-items: right;
  flex-wrap: wrap;
}

.start-screen .add-emotion-button-wrapper {
  display: flex;
  justify-content: right;
  align-items: right;
  flex-wrap: wrap;
}

.start-screen .add-emotion-button {
  color: #feffff;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 5px solid #feffff;
  border-radius: 20px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.add-emotion-button.add {
  background-color: #7daf95;
  margin-left: 12px;
}

.add-emotion-button.trigger-add {
  background-color: #7daf95;
  margin-left: auto;
}

.add-emotion-button.skip {
  background-color: #99628f;
  margin-left: auto;
}

.add-emotion-button:disabled {
  background-color: #ccc !important;
}
.add-emotion-button:disabled:hover {
  cursor: not-allowed !important;
}

.add-emotion-error {
  display: none;
  flex: 0 0 100%;
  padding-top: 12px;
}

.add-emotion-error p {
  font-size: 0.9rem;
  color: #feffff;
  margin: 0;
  padding: 2px;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;
  float: right;
  background-color: rgb(0, 0, 0, 0.7);
}

button:disabled:hover + .add-emotion-error {
  display: block;
}

.start-screen .add-emotion-button i {
  margin-right: 8px;
}

.start-screen .add-emotion-button.add:hover,
.start-screen .add-emotion-button.trigger-add:hover {
  background-color: #444;
  cursor: pointer;
}

.start-screen .add-emotion-button.skip:hover {
  background-color: #444;
  cursor: pointer;
}

button.openFilters {
  background-color: #7daf95;
  color: #feffff;
  padding: 6px 12px;
  border-radius: 10px;
  border: 3px solid #feffff;
  font-size: 1.2rem;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

button.openFilters:hover {
  background-color: #444;
  cursor: pointer;
}

button.openFilters i.fa-caret-down,
button.openFilters i.fa-caret-right {
  margin-right: 10px;
}

button.openFilters i.fa-sliders-h {
  margin-left: 12px;
}

.hidden-filters {
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);

  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  overflow: hidden;

  -webkit-transition: -webkit-transform 0.3 ease, height 0.3s ease;
  -webkit-transition: -webkit-transform 0.3 ease, height 0.3s ease;
  -webkit-transition: -webkit-transform 0.3 ease, height 0.3s ease;
  transition: transform 0.3s ease, height 0.3s ease;
  height: 0;
  overflow: hidden;
}

.hidden-filters.visible {
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.inner-filters * {
  margin-top: 0;
  margin-bottom: 0;
}

.inner-filters {
  padding: 20px;
  border-bottom: dashed 1px #bbb;
  border-top: dashed 1px #bbb;
}

.inner-filters p {
  font-size: 1.2rem;
  padding-bottom: 12px;
  flex: 0 0 100%;
  line-height: 1;
}
