.stats-screen h2 {
  font-size: 2.4rem;
  margin: 0;
}

.stats-screen .headline-container {
  background-color: rgb(254, 255, 255, 0.8);
  padding: 20px;
  margin: 0 auto 30px auto;
  border: 1px solid #ddd;
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.stats-screen .button-container {
  margin-bottom: 30px;
}

.stats-screen .button-container button {
  color: #feffff;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 5px solid #feffff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #7daf95;
  margin-right: 20px;
}

.stats-screen .button-container button.active {
  background-color: #99628f;
}

.stats-screen .button-container button:last-of-type {
  margin-right: 0;
}

.stats-screen .button-container button:hover {
  background-color: #444;
  cursor: pointer;
}

.stats-screen .button-container button i {
  margin-right: 8px;
}

.word-cloud-wrapper {
  background-color: rgb(254, 255, 255, 0.8);
  border-radius: 30px;
  font-size: 100px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}
