@font-face {
  font-family: "Champagne & Limousines";
  src: url("./fonts/Champagne___Limousines_Bold.eot?") format("eot"),
    url("./fonts/Champagne___Limousines_Bold.woff") format("woff"),
    url("./fonts/Champagne___Limousines_Bold.ttf") format("truetype"),
    url("./fonts/Champagne___Limousines_Bold.svg#Champagne&Limousines-Bold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Keep-Calm';
  src:url('Keep-Calm.ttf.woff') format('woff'),
      url('Keep-Calm.ttf.svg#Keep-Calm') format('svg'),
      url('Keep-Calm.ttf.eot'),
      url('Keep-Calm.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #faf9f9;
  line-height: 1.625;
  color: #444;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.App {
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Champagne & Limousines", sans-serif;
  color: #222;
  line-height: 1.1;
  font-weight: normal;
}
