body {
  line-height: 1.625;
  color: #444;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.App {
  width: 550px;
  max-width: 96%;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  color: #222;
  line-height: 1.1;
  font-weight: 700;
}

.red {
  background-color: #b51316;
}
.green {
  background-color: #017f43;
}
.blue {
  background-color: #081b64;
}
.orange {
  background-color: #e2701a;
}
.purple {
  background-color: #6a005a;
}
.pink {
  background-color: #e44097;
}
.yellow {
  background-color: #f9e41c;
}
.turquoise {
  background-color: #008988;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
input:active,
select:active,
textarea:active,
button:active {
  outline: none;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}

.cross-fade-height {
  transition: height 0.6s ease-in-out;
}
